@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);
* {
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

html {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: #555;
	font-family: 'Nunito Sans', sans-serif
}

.header {
	display: block;
	z-index: 1;
	text-align: center;
	color: #fff;
	position: absolute;
	font-family: 'Rubik', sans-serif;
	width: 80%;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

@media screen and (max-width: 750px) {
	.header {
		font-size: 3vw;
	}
}

.header .site-title {
	display: block;
	line-height: 2;
	color: #ffd9e2;
	font-size: 5rem;
	text-shadow: 0 0 10px #2B32B2, 0 0 20px #2B32B2, 0 0 40px #a5a5a5, 0 0 100px #a5a5a5, 0 0 200px #a5a5a5;
	-webkit-animation: blink 4s infinite alternate;
	animation: blink 4s infinite alternate;
}

@media screen and (max-width: 750px) {
	.header .site-title {
		font-size: 10vw;
	}
}

.header-icons {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
	.header-icons {
		display: flex;
	}
}

.header-icons .icon {
	height: 25px;
	padding: 15px;
	border-radius: 50%;
	border: 2px solid #fff;
	transition: all .8s;
	width: 25px;
	font-size: 25px;
	margin-top: 1rem;
	background: #1488CC;
	color: #000;
}

@media screen and (max-width: 750px) {
	.header-icons .icon {
		height: 20px;
		width: 20px;
		font-size: 20px;
	}
}

.header-icons .icon-link {
	margin: 1rem;
	text-decoration: none;
}

.header-icons .icon:active, .header-icons .icon:hover {
	color: #1488CC;
	background: #fff
}

#landing {
	background: #1488CC;
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC);
	display: flex;
	vertical-align: bottom;
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed
}

#landing .landing-canvas-el {
	width: 100% !important;
	height: 100vh !important
}

.timeline-center {
	width: 80vw;
	max-width: 40rem;
}

.timeline-item {
	border-top: 3px dashed #1488CC;
	margin: 0;
	padding: 1rem 3rem 3rem 3rem;
	position: relative;
}

.timeline-year {
	text-align: right;
}

.timeline-month {
	margin-top: 2rem;
}

.timeline-desc {
	font-size: 1.2rem;
	line-height: 1.2;
	padding-left: 0.5rem;
}

.timeline-item:nth-child(even) {
	border-left: 3px dashed #1488CC;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	margin-right: 2rem;
	padding-right: 0;
}

.timeline-item:nth-child(odd) {
	border-right: 3px dashed #1488CC;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	margin-left: 2rem;
	padding-left: 0;
}

.timeline-item:first-child {
	border-top: 0;
	border-top-right-radius: 0;
}

.timeline-item:last-child {
	border-bottom-left-radius: 0;
}

.number {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-bottom: 0;
	background: #1488CC;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 2px solid #2B32B2;
	display: grid;
	place-items: center;
	color: #fff;
	font-weight: bold;
}

.timeline-item:nth-child(even) .number {
	left: 0;
}

.timeline-item:nth-child(odd) .number {
	right: 0;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

.timeline-center {
	width: 80vw;
	max-width: 40rem;
}

.section {
	padding: 3rem 0;
}

.section-title {
	margin-bottom: 3rem;
	text-align: center;
	font-size: 2rem;
	color: #2B32B2;
}

.section-center {
	width: 50vw;
	margin: 0 auto;
	max-width: 1170px;
}

@media screen and (max-width: 750px) {
	.section-center {
		width: 80vw;
	}
}